.container{
  background-image: url(assets/butterfly.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  color:#ECC10E;
}
.wrapper{
  background:#000000;                 
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 65px;
  
}
form{
  padding-bottom: 40px;
  padding-top: 60px;
}
input{
  padding: 5px;
  border-radius: 10px;
  outline: none;
}
label{
  padding-right: 15px;
}
.ct{
  padding-right: 20px;
}
.yr{
  padding-right: 50px;
}
.mt{
  padding-right: 35px;
}
.dy{
  padding-right: 56px;
}
.gr{
  padding-right: 30px;
}
.gd{
  border-radius: 10px;
  outline: none;
  padding: 5px;
}
.btn{  
  background-color: #ECC10E !important; 
  color: #040720 !important;
  font-size: 24px;
  padding: 10px;
  border-radius: 40px;
  margin-left: 42%;
  margin-top: 20px;
  outline: none;
  transition:all 0.5s;
  cursor: pointer;
 }  
.btn:hover{ 
  background:#B42D46 !important;
  color: white;
}




























  