body{
  margin: 0;
}
.caps{
  background-color: #040720;; 
  color: #40E0D0;
}
.akan h1{
 text-align: center;
 font-size: 50px;
 font-weight: bold;
 text-shadow: 3px 3px 2px #717D7E;
 padding-top: 30px;
 padding-bottom: 20px;
}
.state{
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.hero{
  display: flex;
  justify-content: center;
  align-items: center;
} 
form{
  margin-bottom: 50px;
}
.fs,.ls,.yr,.mt,.dy{
  display: block;
  margin-bottom: 5px;
  font-size: 25px;
}
#firstname,#lastname,#yearOf,#monthOf,#dayOf{
  margin-bottom: 5px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border-radius: 15px;
  outline: none;
}
#errorMessage1 ,#errorMessage2,#errorMessage3,#errorMessage4{
  margin-bottom: 6px;
  color:  #B42D46;
  display: none;
}
.firstpart{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.firstpart .inputgroup{
  flex-basis:48% ;
} 
.buttonform{
  color: #040720;
  font-size: 24px;
  padding: 10px;
  border: 2px solid #B42D46;
  border-radius: 20px;
  margin-left: 30%;
  margin-top: 20px;
  outline: none;
  transition:all 0.5s;
  cursor: pointer;
}
.buttonform:hover{
  background: black;
  border: 2px solid green;
  color: white;
}
